<body onload="noBack();" 
onpageshow="if (event.persisted) noBack();" onunload="">
<div class='container'>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="jumbotron mt-3">
                <div class='row'>
                    <label>User Name</label>
                    <input type="text" class="form-control" [(ngModel)]='userName'>
                </div>
                <div class='row'>
                    <label>Password</label>
                    <input type="password" class="form-control" [(ngModel)]='pswrd'>
                </div>
                <div class="row mt-2" style="float: right">
                    <button type="button" (click)="userLogIn(userName,pswrd)" class="btn btn-success">Login</button>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>
</body>